<tbody>

    <% items.forEach(function(item) { %>

        <tr>
            <td><%= item.name %></td>
            <td><%= item.amount %></td>
            <td>$ <%= item.gross_sales %></td>

            <% if (item.tax < 0) { %>

                <td class="negative">$ <%= item.tax %></td>
            <% } else { %>

                <td>$ <%= item.tax %></td>
            <% } %>

            <td class="net-sales-colon">$ <%= item.net_sales %></td>
        </tr>
    <% }); %>

    <tr class="table-result">

        <td>All orders - <%= total.countOrders %></td>
        <td><%= total.amount %></td>
        <td>$ <%= total.gross_sales %></td>

        <% if (total.tax < 0) { %>

            <td class="negative">$ <%= total.tax %></td>
        <% } else { %>

            <td>$ <%= total.tax %></td>
        <% } %>

        <td class="net-sales-colon">$ <%= total.net_sales %></td>
    </tr>
</tbody>